In [1]:
import pandas as pd
mydataset = {'cars':['BMW','Audi','Merc'],
            'passings':[3,7,2]}
myvar = pd.DataFrame(mydataset)
print(myvar)

   cars  passings
0   BMW         3
1  Audi         7
2  Merc         2

In [4]:
# series
new_series = pd.Series([7,4,8,9,2])
print(new_series)
print('-------------')
print(new_series[2])

0    7
1    4
2    8
3    9
4    2
dtype: int64
-------------
8

In [10]:
# more on series
new_series = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print(new_series)
print('-------------')
print(new_series.values)
print('-------------')
print(new_series['b'])
print('-------------')
print(new_series[['a','b','d']])
print('-------------')
print(new_series[new_series>25])

a    10
b    20
c    30
d    40
e    50
dtype: int64
-------------
[10 20 30 40 50]
-------------
20
-------------
a    10
b    20
d    40
dtype: int64
-------------
c    30
d    40
e    50
dtype: int64

In [11]:
new_series2 = new_series[new_series>35]*2
print(new_series2)

d     80
e    100
dtype: int64